<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8"/>
        <title>Customer Enquiries</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/customer_enquiries.css' %}"/>
    </head>
    <body>
        <div style="text-align: center;">
            <h2>Customer Enquiries</h2>
        </div>
        <div style="margin-top: 25px;">
            <div class="table-container">
                <table>
                    <tr >
                        {% for h in customer_enquiry_list.headers %}
                            <th>
                                {{h}}
                            </th>
                        {% endfor %}
                    </tr>
                    {% for r in customer_enquiry_list.rows %}
                        <tr>
                            {% for c in r %}
                                <td >
                                    {{c}}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>